*{
    padding: 0px;
    margin: 0px;
}
html{
    font-size: 100%;
}

body{
    text-align: center;
}

.container {
    margin: auto;
    max-width: 50%;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3,10rem);
    grid-template-rows: repeat(3,10rem); 
    grid-gap: 0.7rem;
    justify-content: space-around;
  }

.casilla{
    border: 0.3rem solid black;
    font-size: 3rem;
    color: black;

}